# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Nuxt / Nitro
.nuxt/
.nitro/
.output/
.cache/

# Build outputs
dist/

# Local data
.data/

# Env
.env
.env.*
!.env.example

# Tauri / Rust
src-tauri/target/
src-tauri/.cargo/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db
Desktop.ini